.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid#E4E4E7;
  padding: 12px 16px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 1px 2px 4px 0px rgba(0, 0, 0, 0.08);
  /* margin-left: auto;
  margin-right: auto; */
  box-sizing: border-box;
}

@media(max-width: 600px) {
  .container {
    width: calc(100vw - 24px);
  }
}

.container > input {
  outline: none;
  border: none;
  font-family: 'PoppinsRegular';
  color: var(--color-text);
  font-size: 16px;
  flex-grow: 1;
  margin-left: 12px;
}

/* .container > span {
  text-decoration: underline;
  color: var(--color-secondary);
} */