@font-face {
  font-family: 'PoppinsRegular';
  src: url('../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('../public/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('../public/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'BorelRegular';
  src: url('../public/fonts/Borel-Regular.ttf');
}

:root {
  --color-primary: #FB9302;
  --color-primary-light: #fb930227;
  --color-content-bg: #FAF9FB;
  --color-secondary: #48329C;
  --color-secondary-light: #79738f;
  --color-text: #170d41;
}

.bold-24 {
  font-family: 'PoppinsBold';
  font-size: 24px;
}

.bold-20 {
  font-family: 'PoppinsBold';
  font-size: 20px;
}

.medium-16 {
  font-family: 'PoppinsMedium';
  font-size: 16px;
}

.bold-16 {
  font-family: 'PoppinsBold';
  font-size: 16px;
}

.medium-14 {
  font-family: 'PoppinsMedium';
  font-size: 14px;
}

.regular-16 {
  font-family: 'PoppinsRegular';
  font-size: 16px;
}

.regular-14 {
  font-family: 'PoppinsRegular';
  font-size: 14px;
}

.regular-12 {
  font-family: 'PoppinsRegular';
  font-size: 12px;
}

.logo {
  font-family: 'BorelRegular';
  font-size: 24px;
  color: var(--color-primary);
  margin-bottom: 16px;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
  margin: 12px 0px;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-content-bg);
}

.content-container {
  margin-left: 256px;
}

.content {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

html,
body {
  padding: 0px;
  margin: 0px;
}